 :root {
   --moby_gold: rgb(210,154,25);
   --nav_blue: rgb(20,14,76);
   --nav_text: rgb(206,206,206);
 }

 @font-face {
	font-family: 'Roboto';                    
	src: url('..\fonts\Roboto\Roboto-Regular.ttf');
  }

  @font-face {
    font-family: 'Shrikhand';                    
    src: url('..\fonts\Shrikhand\Shrikhand-Regular.ttf');
  }
  
 /* --------------------------------------------------------------------- */
/* Optional: Makes the sample page fill the window. */
html, body {
  height:  100vh;
  margin:  0;
  padding: 0;  
}

.nav_container {
  height: 10vh;
}

.text_colors .nav-link {
  color: var(--nav_text);
  font-size: 24px;
}

.nav-link:hover {
  background-color: aquamarine;
  color: #000;
}

.nav_colors {
  background-color: var(--nav_blue);
}

/* https://stackoverflow.com/questions/60611577/how-do-i-make-a-logo-overlap-the-navbar-in-bootstrap */
.logo {
  /* position: absolute; */
  /* top: 0; */
  left: 10px;
  border: solid 7px var(--moby_gold);
  z-index:2000;
  height: auto;
}
/* --------------------------------------------------------------------------------------------------- */
/* CAROUSELL */
/* #landingPageCarousel .carousel-inner, #landingPageCarousel .carousel-item {
  height: 80vh;  */
/* } */

.carousel-item {
  height: 100%; 
  min-height: 800px;
  width: 100%; 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.carousel-inner img {
  height: 100%;
  width: auto;
}

#slide1 {
  background-image: url('../img/carousel_g0078541.jpg');
}

#slide2 {
  background-image: url('../img/carousel_moby_deploy1_2.jpg');
}

#slide3 {
  background-image: url('../img/carousel_g0048430.jpg');
}



/* MEDIA SECTION ------------------------------------------------------------------------------------ */
 /* Extra small devices (portrait phones, less than 576px) */
 /* No media query for `xs` since this is the default in Bootstrap */

 /* Small devices (landscape phones, 576px and up) */
 @media (max-width: 576px) { 
  .text_colors .nav-link {
    font-size: 14px;
  }  
  .logo {
    width: 50px;
    border: solid 3px var(--moby_gold);
  }  
  .nav_mv_right {
    margin-left: 65px;
  }
  .carousel-item {
    min-height: 400px;
  }
  /* .nav_colors {
    background-color: cyan;
    color: black;
  } */
  /* .logo {
    display: none;
  } */
}
@media (min-width: 576px) { 
  .text_colors .nav-link {
    font-size: 16px;
  }  
  .carousel-item {
    min-height: 500px;
  }
  /* .nav_colors {
    background-color: red;
    color: black;
  } */
  .logo {
    width: 70px;
    border: solid 3px var(--moby_gold);
  } 
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .text_colors .nav-link {
    font-size: 18px;
  } 
  .carousel-item {
    min-height: 600px;
  }
    /* .nav_colors {
    background-color:green;
    color: black;
  } */
  .logo {
    width: 90px;
    border: solid 5px var(--moby_gold);
  } 
 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .text_colors .nav-link {
    font-size: 22px;
  } 
  .carousel-item {
    min-height: 700px;
  }
  /* .nav_colors {
    background-color: blue;
    color: black;
  } */
  .logo {
    width: auto;
    border: solid 5px var(--moby_gold);
  } 
}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .text_colors .nav-link {
    font-size: 24px;
  } 
  .carousel-item {
    min-height: 800px;
  }
  /* .nav_colors {
    background-color: yellow;
    color: black;
  } */
  .logo {
    width: auto;
    border: solid 5px var(--moby_gold);
  } 

 }

@media print {
  .container {
      width: auto;
    }
}