 :root {
   --moby_gold2: rgb(210,154,25); 
   --moby_gold:Rgb(223, 177, 79);
   --nav_blue: rgb(20,14,76); 
   --nav_hover: rgb(80, 65, 211);

   --nav_text: rgb(206,206,206);

   --body_font: 18px;

   --sm_moby_font1: 11px;
   --lg_moby_font1: 11px;
   
   --sm_moby_font2: 12px;
   --lg_moby_font2: 12px;

   --sm_moby_font3: 22px;
   --lg_moby_font3: 30px;

   --sm_moby_font4: 30px;
   --lg_moby_font4: 42px;

   --sm_moby_font5: 48px;            
   --lg_moby_font5: 58px;

   --min_moby_nav_font5: 24px;

   --main_bg: rgb(211,211,211);
  }

 @font-face {
	font-family: 'Roboto';                    
	src: url('../fonts/Roboto/Roboto-Regular.ttf');
  }

  @font-face {
    font-family: 'Shrikhand';                    
    src: url('../fonts/Shrikhand/Shrikhand-Regular.ttf');
  }
  
 /* --------------------------------------------------------------------- */
/* Optional: Makes the sample page fill the window. */
html, body {
  height:  100vh;
  margin:  0;
  padding: 0;  
  font-size: var(--body_font);
  min-width: 350px;
}
/* Div with the navbar linnks in it  */
.nav_container {
  height: 10vh;
  font-size: var(--min_moby_nav_font5: 24px);
}

/* color of the bavbar */
.nav_colors {
  background-color: var(--nav_blue);
}

/* In the UL link to set li text colors and link colors */
.text_colors .nav-link {
  color: var(--nav_text);
}

/* Navbar link hover color */
.nav-link:hover, .dropdown-item:hover {
  background-color: var(--nav_hover);
  font-weight: 600;
  color: #000;
}

/* https://stackoverflow.com/questions/60611577/how-do-i-make-a-logo-overlap-the-navbar-in-bootstrap */
/* ----------------------------------------------------------------------------------- */
/* DIV containing the MOBY logo image */
.div_logo1 p {
  position: absolute;
  left: 65px;
  top: 0;
  color: var(--moby_gold)
}
/* MOBY image with gold border - overhangs the navbar on the left*/
.logo {
  position: absolute;
  top: 0;
  left: 10px;
  border: solid 7px var(--moby_gold);
  z-index:2000;
  height: auto;
}
/* ----------------------------------------------------------------------------------- */
/*  DIV contianing the Marine Optical Buoy and MOBY text on the left of the navbar */
.div_logo2 p {
  position: absolute;
  left: 65px;
  top: 0;
  color: var(--moby_gold)
}
/* paragraph tag containing the "Marine Optical Buoy" shuold be hidden for small screens and visible for larger screens */
.moby_text_logo1 {  
  visibility: hidden;
  font-size: var(--min_moby_font1);
  font-family: 'Shrikhand';
  letter-spacing: 3px;
  font-family: 'Shrikhand';
}
/* paragraph tag containing the "MOBY" shuold be hidden for large screens and visible for smaller screens */
.moby_text_logo2 {  
  visibility: visible;
  font-size: var(--min_moby_font1);
  font-family: 'Roboto';
  line-height: 1.1;
  font-family: 'Shrikhand';
}
/*  BR tag making the MOBY text vertical, but I need smaller margins */
br {
  display: inline-block;
  margin: 0 0 0 0;
}

/* --------------------------------------------------------------------------------------------------- */
/* CAROUSELL */
/* #landingPageCarousel .carousel-inner, #landingPageCarousel .carousel-item {
  height: 80vh;  */
/* } */

.carousel-item {
  height: 100%; 
  min-height: 800px;
  width: 100%; 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.carousel-inner img {
  height: 100%;
  width: auto;
}

#slide1 {
  background-image: url('../img/carousel_g0078541.jpg');
}

#slide2 {
  background-image: url('../img/carousel_moby_deploy1_2.jpg');
}

#slide3 {
  background-image: url('../img/carousel_g0048430.jpg');
}

/* MAIN CONTAIMER seciotn ------------------------------------------------------------------------------------------------ */
/* https://afeld.github.io/bootstrap-toc/ */
/* .row_w_toc {
  font-size: var(--body_font);
} */

h1 {
  display: flex;
  justify-content: center;
}

.row_w_bg {
  background-color: var(--main_bg);
}

.row1 img {
  border: solid 4px var(--nav_blue)
}


/* MEDIA SECTION ------------------------------------------------------------------------------------ */
 /* Extra small devices (portrait phones, less than 576px) */
 /* No media query for `xs` since this is the default in Bootstrap */

 /* Small devices (landscape phones, 576px and up) */
 @media (max-width: 576px) { 
  .text_colors .nav-link {
    font-size: 14px;
  }  
  .logo {
    width: 60px;
    border: solid 3px var(--moby_gold);
  }  
  .nav_mv_right {
    margin-left: 5px;
  }
  .carousel-item {
    min-height: 400px;
  }

  /* .nav_colors {
    background-color: cyan;
    color: black;
  } */

 /* MOBY text on navbar */
  .div_logo2 p {
    font-size: 16px;
    left: 75px;
  }
  .moby_text_logo1 {  
    visibility: hidden;
  }
  /* paragraph tag containing the "MOBY" shuold be hidden for large screens and visible for smaller screens */
  .moby_text_logo2 {  
    visibility: visible;
  }
}


/* -------------------------------------------------------------------------------------------------------------- */
/* MEDIA section ------------------------------------------------------------------------------------------------ */
@media (min-width: 576px) { 
  .text_colors .nav-link {
    font-size: 18px;
  }  
  .carousel-item {
    min-height: 500px;
  }
  /* .nav_colors {
    background-color: red;
    color: black;
  } */
  .logo {
    width: 70px;
    border: solid 3px var(--moby_gold);
  } 
  /* MOBY text on navbar */
  .div_logo2 p {
    font-size: 16px;
    left: 85px;
  }
  .moby_text_logo1 {  
    visibility: hidden;
  }
  /* paragraph tag containing the "MOBY" shuold be hidden for large screens and visible for smaller screens */
  .moby_text_logo2 {  
    visibility: visible;
    font-size: var(--sm_moby_font1);
    margin: 0;
    padding: 0;
    font-family: 'Shrikhand';
  }  
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .text_colors .nav-link {
    font-size: 18px;
  } 
  .carousel-item {
    min-height: 600px;
  }
    /* .nav_colors {
    background-color:green;
    color: black;
  } */
  .logo {
    width: 90px;
    border: solid 5px var(--moby_gold);
  } 
  /* MOBY text on navbar */
  .MOBY_text_caps {
    font-size: var(--lg_moby_font3);
    color: var(--moby_gold2);
}
  .div_logo2 p {
    font-size: var(--sm_moby_font3);
    left: 105px;
  }
  .moby_text_logo1 {  
    visibility: visible;
    margin-top: 15px
  }
  /* paragraph tag containing the "MOBY" shuold be hidden for large screens and visible for smaller screens */
  .moby_text_logo2 {  
    visibility: hidden;
  }    
 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .text_colors .nav-link {
    font-size: 24px;
  } 
  .carousel-item {
    min-height: 700px;
  }
  /* .nav_colors {
    background-color: blue;
    color: black;
  } */
  .logo {
    width: auto;
    border: solid 5px var(--moby_gold);
  } 
  /* MOBY text on navbar */
  .MOBY_text_caps {
    font-size: var(--lg_moby_font4);
  }
  .div_logo2 p {
    font-size: var(--sm_moby_font4);
    left: 155px;
  }
  .moby_text_logo1 {  
    visibility: visible;
    margin-top: 7px
  }
  /* paragraph tag containing the "MOBY" shuold be hidden for large screens and visible for smaller screens */
  .moby_text_logo2 {  
    visibility: hidden;
  }      
}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .text_colors .nav-link {
    font-size: 24px;
  } 
  .carousel-item {
    min-height: 90vh;
  }
  /* .nav_colors {
    background-color: yellow;
    color: black;
  } */
  .logo {
    width: auto;
    border: solid 5px var(--moby_gold);
  } 
  /* MOBY text on navbar */
  .MOBY_text_caps {
    font-size: var(--lg_moby_font5);
  }
  .div_logo2 p {
    font-size: var(--sm_moby_font5);
    left: 155px;
  }
  .moby_text_logo1 {  
    visibility: visible;
    margin-top: 0px
  }
  /* paragraph tag containing the "MOBY" shuold be hidden for large screens and visible for smaller screens */
  .moby_text_logo2 {  
    visibility: hidden;
  }        
  .container {
    max-width: 1400px;
  }
 }

@media print {
  .container {
      width: auto;
    }
}